<li class="game-card" data-id="{{id}}">
    <div class="game-card__img">
        <img class="lazyload" data-src="{{images.[0]}}">
    </div>
    <span>{{name}}</span>
    <span>{{price}} {{sale}}</span>
</li>