<li data-id="{{id}}">
    <div class="game-img"><img alt="image" class="lazyload" data-src="{{images.[0]}}"
            src="https://wallpaperaccess.com/full/1457170.jpg"></div>
    <div class="cart-info">
        <span>{{name}}</span>
        <span>Author: {{author}}</span>
        <span>OS: {{os}}</span>
        <span>Price: {{price}} UAH</span>
        <button class="btn">Delete</button>
    </div>
</li>